h1 {
    color: green;
  }
h2 {
    color: blue;
    font-style: italic;
  }
.button-container {
    margin-bottom: 20px;
  }
  p {
    font-size: 16px; /* you can adjust the value as needed */
}
  
  
