h1 {
    color: green;
  }
h2 {
    color: blue;
    font-style: italic;
  }
.button-container {
    margin-bottom: 20px;
  }
  p {
    font-size: 30px; /* you can adjust the value as needed */
}
  
 .footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer img {
    margin-left: 20px; /* Optional: Add some space between the link and the image */
} 
